extends layout

block content
  form.new.feed(action="/", method="post")
    != csrf_form_tag()
    input.grid_10(name="url", type="url", placeholder="Enter feed url", required)
    button.button.grid_2(type="submit") Add new feed

    .clear

    ol.feed.list
      - for feed in feeds
        li.feed.item
          .item-title
            a(href="/feed/#{feed.id}")= feed.name
