doctype 5
html
  head
    title RSSMTP
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block full-page
      .header
        .container_12
          .title.grid_6
            a(href="/") RSSMTP
          .nav.tools.grid_6
            - if (user)
              form.session(action="/session", method="post")
                button.button Sign out
                != csrf_form_tag()
                input(name="_method", type="hidden", value="delete")
            - else
              form.session(action="/auth/google", method="get")
                button.button Sign in
          .clear

      .content.container_12
        ul.feedback
          - var messageList = messages()
            for message in messageList
              li(class=message.type + " alert")= message.text

        block content

    .scripts
      block scripts

      if googleAnalyticsID
        script
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '#{googleAnalyticsID}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
