extends layout

block content
  span.title Get your RSS feeds as email

  ol
    li
      a(href="/auth/google") Registration
      |  is free and takes only a moment
    li
      a(href="https://github.com/elliotf/rssmtp") open source
      |  and free
    li Your email client is your feed reader
    li Share posts by forwarding the email you get
